:root{
    --color-light: #ffffff;
    --color-light-f3-gray: #f3f3f3;
    --color-light-f5-gray: #f5f5f5;
    --color-light-f7-gray: #f7f7f7;
    --color-light-f9-gray: #f9f9f9;
    --color-light-fa-gray: #fafafa;
    --color-222: #222222;
    --color-333: #333333;
    --color-444: #444444;
    --color-666: #666666;
    --color-777: #777777;
    --color-888: #888888;
    --color-999: #999999;
    --color-light-aaa-gray: #aaaaaa;
    --color-light-ccc-gray: #cccccc;
    --color-light-d3-gray: #d3d3d3;
    --color-light-ddd-gray: #dddddd;
    --color-light-d5-gray: #d5d5d5;
    --color-light-eee-gray: #eeeeee;
    --color-light-e5-gray: #e5e5e5;

    --font-color: var(--color-light);
    --title-color: var(--color-light-f3-gray);
    --sub-title-color: var(--color-light-f5-gray);
    --link-color: #3075E3;
    --link-color-hover: #2E70DA;
    --background-color: #272727;
    // --color-select: #3539ad9a;
    --brand-color: #FE5117;
    // --brand-color-hover: #3539ad;
    // --brand-secondary-color: var(--focus-color);
    // --brand-secondary-color-hover: #4287F8;
    // --focus-color: #5191FA;
    --batch-bg: #333A3D;
}